.page-banner
  background url('../img/general/catalog/catalog-banner-bg.jpg')
  background-size cover
  padding 0

.page-banner__content
  position relative

// .page-banner__text

.page-banner__show
  display inline-block
  text-decoration underline
  color #fff