.popular
  background rgba(#000,.8) url("../img/general/popular/popular-bg.jpg")
  background-size cover

  &::before
    content ""
    absolute-all(0)
    background-color rgba(#000,.8)

.popular-list
  display flex
  justify-content space-between
  flex-wrap wrap
  align-items center
  margin-bottom 30px

.popular-list__item
  margin-bottom 15px
  width 19%
  text-align left

.popular-list__link
  display inline-block
  margin-bottom 5px
  text-transform uppercase
  margin-right 5px
  color #fff
  border-bottom 1px solid grayColor
  font-size rem(16)


.popular-list__country
  font-size rem(15)
  color goldColor

