.subscribe
  background #000 url("../img/general/subscribe/subscribe-bg.jpg")
  background-size cover
  text-align center
  padding-bottom 0

  &::before
    content: "";
    absolute-all(0)
    display block
    background-color: rgba(0,0,0,0.85);

.subscribe-form__wrap
  padding-bottom 90px
  width 100%
  max-width 840px
  margin 0 auto

.subscribe-form__content
  padding 85px 0
  width 100%
  max-width 560px
  margin 0 auto

.subscribe-form
  margin-bottom 30px
  display flex
  align-items center
  justify-content space-between

  .g-input
    flex 1
    margin 0 10px

.subscribe__text
  color #fff


