.page-banner--delivery
  background-image url('../img/general/page-banner/delivery-bg.jpg')

.page-banner__content--delivery
  padding-right 30%

  &::before
    content ''
    absolute($top:-30px,$right:0,$bottom:0,$left:0)
    background url('../img/general/page-banner/delivery-bg.png') right 0 no-repeat
    background-size contain

.delivery__block
  margin-bottom 25px

  .g-block-title,
  .g-block-sub-title
    text-align center

.delivery-table
  max-width 500px
  width 100%
  margin-bottom 20px
  border-collapse collapse

  td
    padding 15px 0
    border 0

  tr
    border-bottom 1px solid lighten(grayColor, 70%)

    &:first-child
      color goldColor
      font-family boldFont

.delivery-table__key
  width 60%

.delivery__list
  margin 0
  margin-bottom 20px

.delivery__item
  list-style-type decimal
  margin-bottom 10px

  &:last-child
    margin-bottom 0