.page-banner--payment
  background-image url('../img/general/page-banner/payment-bg.jpg')

.page-banner__content--payment
  padding-right 30%

  &::before
    content ''
    absolute($top:-30px,$right:0,$bottom:0,$left:0)
    background url('../img/general/page-banner/payment-bg.png') right 0 no-repeat
    background-size contain

.payment-item
  padding 25px 30px
  padding-left 70px
  background lighten(grayColor, 70%)
  // display flex
  // align-items center

  .icon
    size(25px)
    margin-right 20px

.payment__title
  font-size rem(24)
  font-family boldFont
  border-bottom 1px dotted grayColor

.payment__content
  padding 0