.catalog-view
  &.catalog-view--lines
    justify-content space-between

    .catalog-view__item
      width 100%
      display flex
      justify-content space-between
      margin-right 0
      box-shadow none

    .product-prev__content
      width 65%
      flex-shrink 0
      margin-bottom 0

    .product-prev__title
      font-family boldFont
      font-size rem(24)
      margin-bottom 25px
      display inline-block

    .catalog-view__img
      display none

    .product-prev__content
      display flex
      flex-direction column

    .product-prev__line-price
      order 1
      margin-top 0

    .product-lines-info
      order 2

    .product-specification-list
      order 3
      margin-bottom 15px
      display flex

    .product-btn
      display flex
      justify-content space-between
      margin-bottom 25px

      &.g-btn
        width 45%

      .g-btn-buy
        margin-right 10px
        background-color blackColor
        color #fff

    .product-actions
      display flex

      &.product-actions--2col
        display none

      .product-action__share
        display block

    .catalog-view__slider
      display block
      width 34%
      flex-shrink 0

    .g-btn-click,
    .product-line-info,
    .product-prev__text
      display block


    .product-prev__middle-content
      display flex
      justify-content space-between

    .product-prev__middle-content-left,
    .product-prev__middle-content-right
      width 48%