.catalog-view
  &.catalog-view--2col
    justify-content space-between

    .catalog-view__item
      width 49%
      display flex
      justify-content space-between
      margin-right 0
      box-shadow none

    .catalog-view__img
      display none

    .product-prev__content
      display flex
      flex-direction column
      margin-bottom 0

    .product-prev__middle-content
      display flex
      flex-direction column

    .product-prev__line-price
      order 1
      margin-top 0

    .product-lines-info
      order 2

    .product-specification-list
      order 3
      margin-bottom 15px
      display flex

    .product-prev__link
      order 4
      display block

    .product-actions
      order 5
      display flex

      &.product-actions--2col
        display flex

      &.product-actions--lines
        display none

    .product-btn

      .g-btn-buy
        margin-bottom 10px
        background-color blackColor
        color #fff

    .catalog-view__slider
      display block
      width 49%
      flex-shrink 0

    .g-btn-click,
    .product-line-info
      display block
