.main-nav-hide
  .container
    .main-nav-submenu
      .submenu-category
        .submenu-category__item
          .submenu-category__title
            span Крупная бытовая техника
          ul.submenu-category-list
            +submenuCategoryListItem('Варочные поверхности','55')
            +submenuCategoryListItem('Варочные поверхности','55')
            +submenuCategoryListItem('Варочные поверхности','55')
            +submenuCategoryListItem('Варочные поверхности','55')
            +submenuCategoryListItem('Варочные поверхности','55')
            +submenuCategoryListItem('Варочные поверхности','55')
            +submenuCategoryListItem('Варочные поверхности','55')
            +submenuCategoryListItem('Варочные поверхности','55')

          ul.submenu-category-list
            +submenuCategoryListItem('Варочные поверхности','55')
            +submenuCategoryListItem('Варочные поверхности','55')
            +submenuCategoryListItem('Варочные поверхности','55')
            +submenuCategoryListItem('Варочные поверхности','55')
            +submenuCategoryListItem('Варочные поверхности','55')
            +submenuCategoryListItem('Варочные поверхности','55')
            +submenuCategoryListItem('Варочные поверхности','55')

        .submenu-category__item
          .submenu-category__title
            span Мелкая бытовая техника
          ul.submenu-category-list
            +submenuCategoryListItem('Варочные поверхности','55')
            +submenuCategoryListItem('Варочные поверхности','55')
            +submenuCategoryListItem('Варочные поверхности','55')
            +submenuCategoryListItem('Варочные поверхности','55')
            +submenuCategoryListItem('Варочные поверхности','55')
            +submenuCategoryListItem('Варочные поверхности','55')
            +submenuCategoryListItem('Варочные поверхности','55')
            +submenuCategoryListItem('Варочные поверхности','55')

      .submenu-brands
        ul.submenu-brands-list
          li.submenu-list__item
            a.submenu-list__link(href="javascript:void(0);")
            span.submenu-list__count= count

      .submenu-promo
        .submenu-promo__item.submenu-promo__item--green
          .submenu-promo-top
            .submenu-promo-mark
              span Акция
            img.submenu-promo__img(src="static/img/content/products/menu/product2.png")
          a.submenu-promo__link(href="javascript:void(0);") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, itaque.
          .submenu-promo-price
            .submenu-promo-price__old
              span 635 &#8381;
            .submenu-promo-price__new
              span 400 &#8381;
          .product-availability
            +icon('check')
            span Есть в наличии
          .product-availability
            +icon('check')
            span Под заказ

        .submenu-promo__item.submenu-promo__item--orange
          .submenu-promo-top
            .submenu-promo-mark
              span Акция
            img.submenu-promo__img(src="static/img/content/products/menu/product1.png")
          a.submenu-promo__link(href="javascript:void(0);") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, itaque.
          .submenu-promo-price
            .submenu-promo-price__old
              span 635 &#8381;
            .submenu-promo-price__new
              span 400 &#8381;
          .product-availability
            +icon('check')
            span Есть в наличии
          .product-availability
            +icon('delivery')
            span Под заказ

