.promo-news-wrap
  display flex
  justify-content space-between
  align-items flex-start

.promo-news-prev
  width 24%

.promo-news-prev__img
  height 200px
  background-size cover
  background-position center

.promo-news-prev__content
  padding 10px 0

.promo-news-prev__date
  color goldColor
  display block
  margin-bottom 10px
  font-size rem(15)

.promo-news-prev__title
  text-decoration underline
  display block
  margin-bottom 10px

.promo-news-prev__text
  font-size rem(15)
  line-height 1.3

  &.product-page
    display none