.product-prev-popup
  position relative
  display flex
  justify-content space-between
  width 97%
  max-width 1140px
  margin 50px auto
  padding 40px
  display flex
  background-color #fff
  box-shadow 0 0 35px 5px rgba(0,0,0,.3)

  .catalog-view__slider
    width 34%
    flex-shrink 0

  .product-callback__text
    display block

  .product-info
    .product-actions
      border-bottom none