section.page-banner
  .container
    .page-banner__content
      h2.g-section-title О винных шкафах
      p.page-banner__text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum odio iusto architecto nostrum itaque eaque!
      .page-banner__text-hide
        p.page-banner__text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo repellat dolore a sit cupiditate error. Nobis eveniet, sapiente eaque nesciunt!
      a.page-banner__show Открыть весь текст
      .pic-menu-review__info