nav.main-nav
  ul.main-nav__list
    +mainNavLink('Мебель','furniture')
    +mainNavLink('Бытовая техника','appliances')
    +mainNavLink('Храниение вина','storage-wine')
    +mainNavLink('Посуда','crockery')
    +mainNavLink('Ножи','knives')
    +mainNavLink('Бар и хрусталь','bar')
    +mainNavLink('Сервировка','laying')
    +mainNavLink('Кухонная утварь','kitchenware')
    +mainNavLink('Текстиль','textile')
  .header-search.search
    +icon('search')
