.product-prev
  img.product-prev__img(src="static/img/content/products/product1/product1.jpg")

  .product-prev__content
    a.product-prev__title(href="javascript:void(0);") Набор бокалов для красного вина серия Frau
    .product-line-info
      span.product-info-line__key Материал:
      span.product-info-line__val хрустальное стекло
    .product-line-info
      span.product-info-line__key Высота:
      span.product-info-line__val 22.9 см
    .product-line-info
      span.product-info-line__key Диаметр:
      span.product-info-line__val 9.1 см
    .product-line-info
      span.product-info-line__key Назначение:
      span.product-info-line__val для красного вина
    .product-prev__line-price
      span.product-price 635 &#8381;
      .product-availability
        +icon('favourite')
        span Нет в наличии
    .product-prev__line-action
      .product-prev__favourite
        +icon('basket')
        span В избранное
      .product-prev__compare
        +icon('equal')
        span Сравнить
  .product-prev__btn
    a.g-btn.g-btn--black.g-btn--no-underline(href="javascript:void(0);") В корзину

.product-prev
  img.product-prev__img(src="static/img/content/products/product2/product2.jpg")

  .product-prev__content
    a.product-prev__title(href="javascript:void(0);") Набор бокалов для красного вина серия Frau
    .product-line-info
      span.product-info-line__key Материал:
      span.product-info-line__val хрустальное стекло
    .product-line-info
      span.product-info-line__key Высота:
      span.product-info-line__val 22.9 см
    .product-line-info
      span.product-info-line__key Диаметр:
      span.product-info-line__val 9.1 см
    .product-line-info
      span.product-info-line__key Назначение:
      span.product-info-line__val для красного вина
    .product-prev__line-price
      span.product-price 635 &#8381;
      .product-availability
        +icon('pan')
        span Есть в наличии
    .product-prev__line-action
      .product-prev__favourite
        +icon('basket')
        span В избранное
      .product-prev__compare
        +icon('equal')
        span Сравнить
  .product-prev__btn
    a.g-btn.g-btn--black.g-btn--no-underline(href="javascript:void(0);") В корзину

.product-prev
  img.product-prev__img(src="static/img/content/products/product3/product3.jpg")

  .product-prev__content
    a.product-prev__title(href="javascript:void(0);") Набор бокалов для красного вина серия Frau
    .product-line-info
      span.product-info-line__key Материал:
      span.product-info-line__val хрустальное стекло
    .product-line-info
      span.product-info-line__key Высота:
      span.product-info-line__val 22.9 см
    .product-line-info
      span.product-info-line__key Диаметр:
      span.product-info-line__val 9.1 см
    .product-line-info
      span.product-info-line__key Назначение:
      span.product-info-line__val для красного вина
    .product-prev__line-price
      span.product-price 635 &#8381;
      .product-availability
        +icon('pan')
        span Есть в наличии
    .product-prev__line-action
      .product-prev__favourite
        +icon('basket')
        span В избранное
      .product-prev__compare
        +icon('equal')
        span Сравнить
  .product-prev__btn
    a.g-btn.g-btn--black.g-btn--no-underline(href="javascript:void(0);") В корзину

.product-prev
  img.product-prev__img(src="static/img/content/products/product4/product4.jpg")

  .product-prev__content
    a.product-prev__title(href="javascript:void(0);") Набор бокалов для красного вина серия Frau
    .product-line-info
      span.product-info-line__key Материал:
      span.product-info-line__val хрустальное стекло
    .product-line-info
      span.product-info-line__key Высота:
      span.product-info-line__val 22.9 см
    .product-line-info
      span.product-info-line__key Диаметр:
      span.product-info-line__val 9.1 см
    .product-line-info
      span.product-info-line__key Назначение:
      span.product-info-line__val для красного вина
    .product-prev__line-price
      span.product-price 635 &#8381;
      .product-availability
        +icon('pan')
        span Есть в наличии
    .product-prev__line-action
      .product-prev__favourite
        +icon('basket')
        span В избранное
      .product-prev__compare
        +icon('equal')
        span Сравнить
  .product-prev__btn
    a.g-btn.g-btn--black.g-btn--no-underline(href="javascript:void(0);") В корзину

.product-prev
  img.product-prev__img(src="static/img/content/products/product1/product1.jpg")

  .product-prev__content
    a.product-prev__title(href="javascript:void(0);") Набор бокалов для красного вина серия Frau
    .product-line-info
      span.product-info-line__key Материал:
      span.product-info-line__val хрустальное стекло
    .product-line-info
      span.product-info-line__key Высота:
      span.product-info-line__val 22.9 см
    .product-line-info
      span.product-info-line__key Диаметр:
      span.product-info-line__val 9.1 см
    .product-line-info
      span.product-info-line__key Назначение:
      span.product-info-line__val для красного вина
    .product-prev__line-price
      span.product-price 635 &#8381;
      .product-availability
        +icon('favourite')
        span Нет в наличии
    .product-prev__line-action
      .product-prev__favourite
        +icon('basket')
        span В избранное
      .product-prev__compare
        +icon('equal')
        span Сравнить
  .product-prev__btn
    a.g-btn.g-btn--black.g-btn--no-underline(href="javascript:void(0);") В корзину

.product-prev
  img.product-prev__img(src="static/img/content/products/product2/product2.jpg")

  .product-prev__content
    a.product-prev__title(href="javascript:void(0);") Набор бокалов для красного вина серия Frau
    .product-line-info
      span.product-info-line__key Материал:
      span.product-info-line__val хрустальное стекло
    .product-line-info
      span.product-info-line__key Высота:
      span.product-info-line__val 22.9 см
    .product-line-info
      span.product-info-line__key Диаметр:
      span.product-info-line__val 9.1 см
    .product-line-info
      span.product-info-line__key Назначение:
      span.product-info-line__val для красного вина
    .product-prev__line-price
      span.product-price 635 &#8381;
      .product-availability
        +icon('pan')
        span Есть в наличии
    .product-prev__line-action
      .product-prev__favourite
        +icon('basket')
        span В избранное
      .product-prev__compare
        +icon('equal')
        span Сравнить
  .product-prev__btn
    a.g-btn.g-btn--black.g-btn--no-underline(href="javascript:void(0);") В корзину

.product-prev
  img.product-prev__img(src="static/img/content/products/product1/product1.jpg")

  .product-prev__content
    a.product-prev__title(href="javascript:void(0);") Набор бокалов для красного вина серия Frau
    .product-line-info
      span.product-info-line__key Материал:
      span.product-info-line__val хрустальное стекло
    .product-line-info
      span.product-info-line__key Высота:
      span.product-info-line__val 22.9 см
    .product-line-info
      span.product-info-line__key Диаметр:
      span.product-info-line__val 9.1 см
    .product-line-info
      span.product-info-line__key Назначение:
      span.product-info-line__val для красного вина
    .product-prev__line-price
      span.product-price 635 &#8381;
      .product-availability
        +icon('favourite')
        span Нет в наличии
    .product-prev__line-action
      .product-prev__favourite
        +icon('basket')
        span В избранное
      .product-prev__compare
        +icon('equal')
        span Сравнить
  .product-prev__btn
    a.g-btn.g-btn--black.g-btn--no-underline(href="javascript:void(0);") В корзину

.product-prev
  img.product-prev__img(src="static/img/content/products/product2/product2.jpg")

  .product-prev__content
    a.product-prev__title(href="javascript:void(0);") Набор бокалов для красного вина серия Frau
    .product-line-info
      span.product-info-line__key Материал:
      span.product-info-line__val хрустальное стекло
    .product-line-info
      span.product-info-line__key Высота:
      span.product-info-line__val 22.9 см
    .product-line-info
      span.product-info-line__key Диаметр:
      span.product-info-line__val 9.1 см
    .product-line-info
      span.product-info-line__key Назначение:
      span.product-info-line__val для красного вина
    .product-prev__line-price
      span.product-price 635 &#8381;
      .product-availability
        +icon('pan')
        span Есть в наличии
    .product-prev__line-action
      .product-prev__favourite
        +icon('basket')
        span В избранное
      .product-prev__compare
        +icon('equal')
        span Сравнить
  .product-prev__btn
    a.g-btn.g-btn--black.g-btn--no-underline(href="javascript:void(0);") В корзину