// Шапка
@import 'header/header.styl'

// Футера
@import 'footer/footer.styl'

// Навигация
@import 'navigation/navigation.styl'

// Кнопки
@import "buttons/buttons.styl"

// Заголовки
@import "titles/titles.styl"

// Превью новости или акции
@import "promo-news-prev/promo-news-prev.styl"

// Стили превью продукта
@import "product-prev/product-prev.styl"

// Стили для форм
@import "form/form.styl"

// Хлебные крошки
@import "breadcrumbs/breadcrumbs.styl"

// Табы
@import "tabs/tabs.styl"

// Фильтр
@import "filter/filter.styl"

// Попап каталога
@import "popups/catalog-popup.styl"

// Баннер
@import "banner/banner.styl"



