extends ../layout/common

block variables
  - var title = 'Для покупателя'
  - var pageClass = 'for-customer'

block content
  section.breadcrumbs
    .container
      ul.breadcrumbs-list
        li.breadcrumbs-list__item
          a.breadcrumbs-list__link(href="index.html") Главная
  section.for-customer-banner
    .tabs-content
      include for-customer/banners/order
      include for-customer/banners/delivery
      include for-customer/banners/payment
      include for-customer/banners/guarantee
      include for-customer/banners/return
      include for-customer/banners/exchange

  section.for-customer-tabs
    .container
      h2.g-section-title Для покупателя
      .tabs
        ul.tabs-list.tabs-list--for-customer
          +tabsLink('tab-order', 'Как заказать')(class="active")
          +tabsLink('tab-delivery', 'Доставка и получение')
          +tabsLink('tab-payment', 'Оплата')
          +tabsLink('tab-guarantee', 'Гарантия')
          +tabsLink('tab-return', 'Возврат')
          +tabsLink('tab-exchange', 'Обмен товаров')

        .tabs-content
          include for-customer/tabs/order
          include for-customer/tabs/delivery
          include for-customer/tabs/payment
          include for-customer/tabs/guarantee
          include for-customer/tabs/return
          include for-customer/tabs/exchange

block script
  script(src="https://www.youtube.com/iframe_api")
