.product-tabs
  padding-bottom 0

  .container
    padding-bottom 60px
    border-bottom 1px solid lighten(grayColor, 70%)


@import "tabs/characteristics.styl"
@import "tabs/about.styl"
@import "tabs/reviews.styl"
@import "tabs/faq.styl"
@import "tabs/video.styl"
@import "tabs/articles.styl"