.g-btn
  display inline-block
  height 50px
  line-height @height
  padding 0 20px
  background-color #fff
  text-transform uppercase
  text-decoration underline
  cursor pointer
  border 0
  text-align center
  transition all linear .2s

  &:hover
    text-decoration none

  &.g-btn--black
    background-color blackColor
    color #fff

  &.g-btn--no-underline
    text-decoration none

    &:hover
      text-decoration underline

  &.g-btn--border-black
    border 2px solid blackColor
    font-family boldFont

    &:hover
      background-color blackColor
      color #fff