@font-face {
    font-family: 'pacificoregular';
    src: url('../fonts/Pacifico/pacifico-regular-webfont.eot');
    src: url('../fonts/Pacifico/pacifico-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Pacifico/pacifico-regular-webfont.woff2') format('woff2'),
         url('../fonts/Pacifico/pacifico-regular-webfont.woff') format('woff'),
         url('../fonts/Pacifico/pacifico-regular-webfont.ttf') format('truetype'),
         url('../fonts/Pacifico/pacifico-regular-webfont.svg#pacificoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'indie_flowerregular';
    src: url('../fonts/Indie/indieflower-webfont.woff2') format('woff2'),
         url('../fonts/Indie/indieflower-webfont.woff') format('woff'),
         url('../fonts/Indie/indieflower-webfont.svg#indie_flowerregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'clear_sansbold';
    src: url('../fonts/clearsans-bold/clearsans-bold-webfont.woff2') format('woff2'),
         url('../fonts/clearsans-bold/clearsans-bold-webfont.woff') format('woff'),
         url('../fonts/clearsans-bold/clearsans-bold-webfont.svg#clear_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'clear_sansbold_italic';
    src: url('../fonts/clearsans-bolditalic/clearsans-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/clearsans-bolditalic/clearsans-bolditalic-webfont.woff') format('woff'),
         url('../fonts/clearsans-bolditalic/clearsans-bolditalic-webfont.svg#clear_sansbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'clear_sansitalic';
    src: url('../fonts/clearsans-italic/clearsans-italic-webfont.woff2') format('woff2'),
         url('../fonts/clearsans-italic/clearsans-italic-webfont.woff') format('woff'),
         url('../fonts/clearsans-italic/clearsans-italic-webfont.svg#clear_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'clear_sans_lightregular';
    src: url('../fonts/clearsans-light/clearsans-light-webfont.woff2') format('woff2'),
         url('../fonts/clearsans-light/clearsans-light-webfont.woff') format('woff'),
         url('../fonts/clearsans-light/clearsans-light-webfont.svg#clear_sans_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'clear_sans_mediumregular';
    src: url('../fonts/clearsans-medium/clearsans-medium-webfont.woff2') format('woff2'),
         url('../fonts/clearsans-medium/clearsans-medium-webfont.woff') format('woff'),
         url('../fonts/clearsans-medium/clearsans-medium-webfont.svg#clear_sans_mediumregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'clear_sans_mediumitalic';
    src: url('../fonts/clearsans-mediumitalic/clearsans-mediumitalic-webfont.woff2') format('woff2'),
         url('../fonts/clearsans-mediumitalic/clearsans-mediumitalic-webfont.woff') format('woff'),
         url('../fonts/clearsans-mediumitalic/clearsans-mediumitalic-webfont.svg#clear_sans_mediumitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'clear_sansregular';
    src: url('../fonts/clearsans-regular/clearsans-regular-webfont.woff2') format('woff2'),
         url('../fonts/clearsans-regular/clearsans-regular-webfont.woff') format('woff'),
         url('../fonts/clearsans-regular/clearsans-regular-webfont.svg#clear_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'clear_sans_thinregular';
    src: url('../fonts/clearsans-thin/clearsans-thin-webfont.woff2') format('woff2'),
         url('../fonts/clearsans-thin/clearsans-thin-webfont.woff') format('woff'),
         url('../fonts/clearsans-thin/clearsans-thin-webfont.svg#clear_sans_thinregular') format('svg');
    font-weight: normal;
    font-style: normal;
}