// ЦВЕТА
redColor    = #ef4113
grayColor   = #7d7e7e
goldColor   = #d09f74
blackColor  = #343434


// РАЗМЕРЫ
baseFontSize = 16px

// ШРИФТЫ
thinFont = 'clear_sans_thinregular', Arial, sans-serif
lightFont = 'clear_sans_lightregular', Arial, sans-serif
mainFont = 'clear_sansregular', Arial, sans-serif
mediumFont = 'clear_sans_mediumregular', Arial, sans-serif
mediumItalicFont = 'clear_sans_mediumitalic', Arial, sans-serif
boldFont = 'clear_sansbold', Arial, sans-serif
boldItalicFont = 'clear_sans_sansbold_italic', Arial, sans-serif
italicFont = 'clear_sansitalic', Arial, sans-serif


pac = 'pacificoregular', Arial, sans-serif
ind = 'indie_flowerregular', Arial, sans-serif