.basket-delivery-options
  .basket-delivery__type
    span.basket-delivery__title Доставка
    .g-form-block
      label.g-label.g-label--gold Город
      select.g-select
        option Москва
        option Минск
        option Киев
        option Вильнюс
    .g-form-block
      label.g-label.g-label--gold Способ доставки
      select.g-select
        option Почта России
        option Курьер
        option Голуби
        option Самолетом

  .basket-delivery__payment
    span.basket-delivery__title Оплата
    .g-form-block
      label.g-label.g-label--gold Способ оплаты
      select.g-select
        option Наличные
        option Карточкой
        option Перевод
        option Кредит