.basket-discount
  .basket-discount__line.basket-discount__line--input
    span Клубная карта
    input.g-input(type="text")
    span Успешно!
  .basket-discount__line
    img.basket-discount__img(src="static/img/general/basket-card.png")
    .basket-discount__number
      span Клубная карта
      span 23212-1
    p.basket-discount__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae cupiditate veniam, sint eveniet delectus asperiores! Sunt eveniet, repellat aliquid aperiam sed nam vero!
      a.basket-discount__text-link(href="javascript:void(0);")  Ducimus!