@import "basket/table.styl"
@import "basket/discount.styl"
@import "basket/delivery.styl"

.basket
  .g-page-title
    margin-bottom 25px
    text-align center

.basket-content
  display flex
  justify-content space-between

.basket-main
  width 72%
  flex-shrink 0

.basket-delivery
  padding 30px
  background-color lighten(grayColor, 75%)

.basket-aside
  width 25%

