@import "index/slider.styl"
@import "index/pic-menu.styl"
@import "index/recommended.styl"
@import "index/popular.styl"
@import "index/video.styl"
@import "index/promo.styl"
@import "index/news.styl"
@import "index/subscribe.styl"
@import "index/advantages.styl"

