.basket-delivery-options
  display flex

  .g-form-block
    margin-bottom 15px
    width 100%

    &:last-child
      margin-bottom 0

    .g-label
      display block

.basket-delivery__type
  width 50%

.basket-delivery__title
  display block
  text-transform uppercase
  font-family boldFont
  margin-bottom 25px