.basket-discount
  margin-bottom 30px
  padding-bottom 30px
  border-bottom 1px solid grayColor

.basket-discount__line
  display flex

  &.basket-discount__line--input
    align-items center
    width 100%
    max-width 380px
    margin-bottom 30px

  .g-input
    margin 0 10px
    background-color #fff

.basket-discount__img
  display block
  max-width 150px
  width 100%
  height 100%

.basket-discount__number
  margin 0 30px 0 15px

  span
    display block
    white-space nowrap

    &:last-child
      font-family boldFont

.basket-discount__text
  max-width 420px
  width 100%
  line-height 1.3

.basket-discount__text-link
  text-decoration underline