.g-input
  size(100%,50px)
  line-height @height
  padding 0 15px
  background-color transparent
  border 1 px solid #fff
  color #fff

  &:focus
    box-shadow 2px 2px 10px #fff

.g-label
  color #fff