section.brands
  .container
    h2.g-section-title Винные шкафы. Бренды
    ul.popular-list
      +popularLink('javascript:void(0);','ADHOC','Германия')
      +popularLink('javascript:void(0);','aladdin','Бельгия')
      +popularLink('javascript:void(0);','alessi','Германия')
      +popularLink('javascript:void(0);','blomus','Италия')
      +popularLink('javascript:void(0);','dough','Франция')
      +popularLink('javascript:void(0);','dsgjgfk','Германия')
      +popularLink('javascript:void(0);','aladdin','Бельгия')
      +popularLink('javascript:void(0);','alessi','Германия')
      +popularLink('javascript:void(0);','blomus','Италия')
      +popularLink('javascript:void(0);','dough','Франция')
      +popularLink('javascript:void(0);','dsgjgfk','Германия')
      +popularLink('javascript:void(0);','ADHOC','Германия')
      +popularLink('javascript:void(0);','aladdin','Бельгия')
      +popularLink('javascript:void(0);','dsgjgfk','Германия')
      +popularLink('javascript:void(0);','ADHdsggOC','Германия')
      +popularLink('javascript:void(0);','ADyuuiHOC','Люксембург')
      +popularLink('javascript:void(0);','ADsdfdfsHOC','Германия')
      +popularLink('javascript:void(0);','iik','Россия')
      +popularLink('javascript:void(0);','ADyuuiHOC','Люксембург')
      +popularLink('javascript:void(0);','ADsdfdfsHOC','Германия')
      +popularLink('javascript:void(0);','iik','Россия')
      +popularLink('javascript:void(0);','ryi','Россия')
      +popularLink('javascript:void(0);','ADHOC','Германия')
