section.advantages
  .container
    h2.g-section-title Преимущества
    .cont-line
      .cont-50
        .advantages-item.advantages-item--best-brends
          +icon('equal')
          span.advantages-item__title Лучшие бренды
          p.advantages-item__text Lorem ipsum dolor sit amet, consectetur adipisicing, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo

      .cont-50
        .cont-25
          .advantages-item
            +icon('basket')
            span.advantages-item__title Отменное качество
            p.advantages-item__text Lorem ipsum dolor sit amet, consectetur adipisicing, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
        .cont-25
          .advantages-item
            +icon('delivery')
            span.advantages-item__title Гарантия
            p.advantages-item__text Lorem ipsum dolor sit amet, consectetur adipisicing, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad

    .cont-line
      .cont-50
        .cont-25
          .advantages-item
            +icon('delivery')
            span.advantages-item__title Доставка по всей России
            p.advantages-item__text Lorem ipsum dolor sit amet, consectetur adipisicing, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
        .cont-25
          .advantages-item
            +icon('pan')
            span.advantages-item__title Вдохновение
            p.advantages-item__text Lorem ipsum dolor sit amet, consectetur adipisicing, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      .cont-50
        .advantages-item.advantages-real-item
          +icon('login')
          span.advantages-item__title Подлинные товары
          p.advantages-item__text Lorem ipsum dolor sit amet, consectetur adipisicing, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo