section.news
  .container
    h2.g-section-title Новости магазина
    .promo-news-wrap
      .promo-news-prev
        .promo-news-prev__img(style="background-image:url('static/img/content/promo-news/promo-news4.jpg')")
        .promo-news-prev__content
          span.promo-news-prev__date 01 сентября 2015
          a.promo-news-prev__title(href="javascript:void(0);") Кухонный процессор KitchenAndi

      .promo-news-prev
        .promo-news-prev__img(style="background-image:url('static/img/content/promo-news/promo-news3.jpg')")
        .promo-news-prev__content
          span.promo-news-prev__date 01 сентября 2015
          a.promo-news-prev__title(href="javascript:void(0);") Кухонный процессор KitchenAndi

      .promo-news-prev
        .promo-news-prev__img(style="background-image:url('static/img/content/promo-news/promo-news1.jpg')")
        .promo-news-prev__content
          span.promo-news-prev__date 01 сентября 2015
          a.promo-news-prev__title(href="javascript:void(0);") Кухонный процессор KitchenAndi

      .promo-news-prev
        .promo-news-prev__img(style="background-image:url('static/img/content/promo-news/promo-news2.jpg')")
        .promo-news-prev__content
          span.promo-news-prev__date 01 сентября 2015
          a.promo-news-prev__title(href="javascript:void(0);") Кухонный процессор KitchenAndi
