section.pic-menu
  .container
    .cont-line
      .cont-50
        .cont-line
          .cont-25
            .pic-menu__item(style="background-image:url('static/img/content/pic-menu/1.jpg')")
              .pic-menu__nav
                a(href="javascript:void(0);").pic-menu__title Мебель
                ul.pic-menu-list
                  +picMenuLink('javascript:void(0);','Кухни')
                  +picMenuLink('javascript:void(0);','Столы')
                  +picMenuLink('javascript:void(0);','Стулья')
                  +picMenuLink('javascript:void(0);','Барная')
                  +picMenuLink('javascript:void(0);','мебель')
                  +picMenuLink('javascript:void(0);','Еще 15 разделов')
          .cont-25
            .pic-menu__item(style="background-image:url('static/img/content/pic-menu/2.jpg')")
              .pic-menu__nav
                a(href="javascript:void(0);").pic-menu__title Хранение вина
                ul.pic-menu-list
                  +picMenuLink('javascript:void(0);','Мебель для хранения')
                  +picMenuLink('javascript:void(0);','Винные')
                  +picMenuLink('javascript:void(0);','шкафы')
                  +picMenuLink('javascript:void(0);','Еще 3 раздела')
        .cont-line
          .pic-menu__item(style="background-image:url('static/img/content/pic-menu/3.jpg')")
            .pic-menu__nav
              a(href="javascript:void(0);").pic-menu__title Крупная и мелкая бытовая техника
              ul.pic-menu-list
                +picMenuLink('javascript:void(0);','Холодильники')
                +picMenuLink('javascript:void(0);','Морозильники')
                +picMenuLink('javascript:void(0);','Варочные центры')
                +picMenuLink('javascript:void(0);','Еще 10 разделов')
              ul.pic-menu-list
                +picMenuLink('javascript:void(0);','Куллеры')
                +picMenuLink('javascript:void(0);','Пурефаеры')
                +picMenuLink('javascript:void(0);','Чайники')
                +picMenuLink('javascript:void(0);','Еще 27 разделов')

      .pic-menu__item.pic-menu__item--big(style="background-image:url('static/img/content/pic-menu/4.jpg')")

    .cont-line
      .cont-50
        .cont-25
          .pic-menu__item(style="background-image:url('static/img/content/pic-menu/6.jpg')")
            .pic-menu__nav
              a(href="javascript:void(0);").pic-menu__title Хранение вина
              ul.pic-menu-list
                +picMenuLink('javascript:void(0);','Мебель для хранения')
                +picMenuLink('javascript:void(0);','Винные')
                +picMenuLink('javascript:void(0);','шкафы')
                +picMenuLink('javascript:void(0);','Еще 3 раздела')
        .cont-25
          .pic-menu__item(style="background-image:url('static/img/content/pic-menu/5.jpg')")
            .pic-menu__nav
              a(href="javascript:void(0);").pic-menu__title Хранение вина
              ul.pic-menu-list
                +picMenuLink('javascript:void(0);','Мебель для хранения')
                +picMenuLink('javascript:void(0);','Винные')
                +picMenuLink('javascript:void(0);','шкафы')
                +picMenuLink('javascript:void(0);','Еще 3 раздела')
      .cont-50
        .pic-menu__item(style="background-image:url('static/img/content/pic-menu/6.jpg')")
          .pic-menu__nav
            a(href="javascript:void(0);").pic-menu__title Крупная и мелкая бытовая техника
            ul.pic-menu-list
              +picMenuLink('javascript:void(0);','Холодильники')
              +picMenuLink('javascript:void(0);','Морозильники')
              +picMenuLink('javascript:void(0);','Варочные центры')
              +picMenuLink('javascript:void(0);','Еще 10 разделов')
            ul.pic-menu-list
              +picMenuLink('javascript:void(0);','Куллеры')
              +picMenuLink('javascript:void(0);','Пурефаеры')
              +picMenuLink('javascript:void(0);','Чайники')
              +picMenuLink('javascript:void(0);','Еще 27 разделов')

    .cont-line
      .cont-50
        .pic-menu__item(style="background-image:url('static/img/content/pic-menu/1.jpg')")
          .pic-menu__nav
            a(href="javascript:void(0);").pic-menu__title Крупная и мелкая бытовая техника
            ul.pic-menu-list
              +picMenuLink('javascript:void(0);','Холодильники')
              +picMenuLink('javascript:void(0);','Морозильники')
              +picMenuLink('javascript:void(0);','Варочные центры')
              +picMenuLink('javascript:void(0);','Еще 10 разделов')
            ul.pic-menu-list
              +picMenuLink('javascript:void(0);','Куллеры')
              +picMenuLink('javascript:void(0);','Пурефаеры')
              +picMenuLink('javascript:void(0);','Чайники')
              +picMenuLink('javascript:void(0);','Еще 27 разделов')
      .cont-50
        .cont-25
          .pic-menu__item(style="background-image:url('static/img/content/pic-menu/2.jpg')")
            .pic-menu__nav
              a(href="javascript:void(0);").pic-menu__title Хранение вина
              ul.pic-menu-list
                +picMenuLink('javascript:void(0);','Мебель для хранения')
                +picMenuLink('javascript:void(0);','Винные')
                +picMenuLink('javascript:void(0);','шкафы')
                +picMenuLink('javascript:void(0);','Еще 3 раздела')
        .cont-25
          .pic-menu__item(style="background-image:url('static/img/content/pic-menu/7.jpg')")
            .pic-menu__nav
              a(href="javascript:void(0);").pic-menu__title Хранение вина
              ul.pic-menu-list
                +picMenuLink('javascript:void(0);','Мебель для хранения')
                +picMenuLink('javascript:void(0);','Винные')
                +picMenuLink('javascript:void(0);','шкафы')
                +picMenuLink('javascript:void(0);','Еще 3 раздела')