section.recommended
  .container
    h2.g-section-title Рекомендуемые товары
    .recommended-slider
      .js-recommended-slider
        include ../../modules/product-prev



    .recommended-slider__nav
      .recommended-slider__controls.recommended-slider__controls--prev
        +icon('arrow-down')
      .recommended-slider__controls.recommended-slider__controls--next
        +icon('arrow-up')