section.subscribe
  .container
    h2.g-section-title.g-section-title--white Подпишитесь на новости
    .subscribe-form__wrap
      .subscribe-form__content
        form.subscribe-form
          label.g-label(for="email") Ваш Email
          input.g-input.g-input--email#email(type="email")
          input.g-btn.g-btn--no-underline(type="submit" value="Подписаться")
        p.subscribe__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo  consequat.


