section.video-review
  .container
    h2.g-section-title Видеобзоры
    .video-review__content
      .video-review__item#review1(data-video-id="6EyHBf4E8ds")
        .video-review__img(style="background-image:url('static/img/content/video-reviews/review1/prev.jpg')")
          .video-review__play.video-start
            +icon('login')
          .video-review__info
            span.video-review__date 24 августа 2017
            a.video-review__link(href="javascript:void(0);") Обзор кухонной техники КЕТТЛЕР
      .video-review__item#review2(data-video-id="B4enr1Wl-fA")
        .video-review__img(style="background-image:url('static/img/content/video-reviews/review2/prev.jpg')")
          .video-review__play.video-start
            +icon('login')
          .video-review__info
            span.video-review__date 03 ноября 2017
            a.video-review__link(href="javascript:void(0);") Обзор кухонной техники АЛЛСТАРС
    .content-center
      a.g-btn.g-btn--black(href="javascript:void(0);") Все видеообзоры