footer
  flex 0 0 auto
  position relative
  padding 60px 0
  background #000 url("../img/general/subscribe/subscribe-bg.jpg") center
  background-size cover

  &::before
    content: "";
    absolute-all(0)
    display block
    background-color: rgba(0,0,0,0.85);

.footer
  display flex
  align-items flex-start
  padding-top 25px
  border-top 1px solid grayColor

.footer-copyright
  margin-right 40px

.copyright
  display block
  color #ff
  margin-bottom 15px
  font-size rem(15)

.footer__social-list
  margin-bottom 35px

.footer-rules__link
  color #fff
  border-bottom 1px solid grayColor

.footer__payment-type
  max-width 170px
  margin-right 50px

.payment-type__title
  text-align center
  color #fff
  display block
  margin-bottom 15px
  font-size rem(15)

.payment-type__list
  display flex
  justify-content space-between
  flex-wrap wrap

.payment-type__item
  width 48%

  .icon
    fill #fff
    size(75px,35px)

.footer-nav
  display flex
  justify-content space-between
  flex-shrink 1

.footer-nav__list
  width 49%
  margin-right 50px

    &:last-child
      margin-right 0

.footer-nav__item
  margin-bottom 10px

  &:last-child
    margin-bottom 0

.footer-nav__link
  white-space nowrap
  color #fff
  border-bottom 1px solid grayColor

.footer-contacts
  margin-left auto

.footer-contacts__line
  margin-bottom 30px

.footer__phone
  margin-right 15px
  color #fff

.footer__feedback
  color #fff
  font-size rem(15)
  border-bottom 1px solid grayColor

.footer-subscribe-form

  .g-label
    display block
    margin-bottom 5px

.footer-subscribe-form__line
  display flex
  justify-content space-between

  .g-input
    margin-right 10px