.product-prev
  margin-right 10px

.product-prev__img
  width 100%
  height 250px
  display block
  margin 0 auto 20px

.product-prev__content
  position relative
  padding-top 60px
  margin-bottom 20px

.product-prev__title
  display block
  absolute($top:0)
  text-decoration underline
  line-height 1.3

.product-prev__line-info
  margin-bottom 10px
  font-size rem(15)

  &:last-child
    margin-bottom 20px

.product-prev__key
  color goldColor
  margin-right 5px

.product-prev__line-price,
.product-prev__line-action
  display flex

.product-prev__line-price
  margin-bottom 15px

.product-prev__price
  font-family boldFont
  margin-right 20px

.product-price__availability
  display flex

  .icon
    size(17px)
    margin-right 10px

.product-prev__line-action
  .icon
    size(17px)
    margin-right 10px

.product-prev__favourite
  margin-right 20px

.product-prev__btn
  .g-btn
    width 100%
    text-align center