.tab-content__item.tab-about
  .product-about
    .product-about__top
      img.product-about__logo(src="static/img/content/about/about-logo1.jpg")
      p.product-about__top-text Мы продолжаем отличную традицию и предлагаем присоединиться всем желающим к организации праздника для Центра детской онкологии, гематологии и иммунологии в Боровлянах. Готовим вместе с читателями Onliner.by праздничный «десант» с концертами, развлечениями и подарками. Подробности прямо здесь.

    .product-about__block
      h3.g-block-title Schott Zweisel - бокалы, которые хранят историю
      p.product-about__text В июне прошлого года шестеро мужчин погибли в канализационном колодце в деревне Крупского района. Один за одним они опускались вниз, чтобы спасать друг друга, но теряли сознание и падали в стоковые воды. Среди погибших и двое сотрудников МЧС, которые по непонятным причинам тоже очутились в колодце. После долгих месяцев расследований следствие прекратило уголовное дело, признав, что виной всему трагическая случайность. У родственников свои аргументы.
      p.product-about__text Об этом заявил вице-премьер Василий Жарко. По его словам, правительство определит соответствующие критерии и перечень услуг, стоимость которых те, кто подпадет под нормы обновленного декрета, будут обязаны возмещать в полном объеме.

    .product-about__block
      h3.g-block-title Titan - революция в стеклоделии
      p.product-about__text Мы еще не видели, что новый BMW M5 вытворяет на Нюрбургринге, но «заряженный» седан в кузове F90 уже успел поставить рекорд на другой трассе. Шанхайский SIC (Shanghai International Circuit) не так знаменит, как немецкий трек, но в последние годы многие гонщики устанавливают рекорды именно здесь. BMW M5 стал на днях самым быстрым серийным седаном SIC.
      p.product-about__text Седан Lexus GS продавец называет конкурентом «баварцев». Но только в вопросе не динамики, а скорее комфорта и ощущений от езды. По словам Виталия, японский автомобиль в некоторых моментах даже лучше, чем немецкий. «Сам мечтал о BMW, но теперь, после Lexus, даже и не подумаю пересесть», — говорит мужчина. Потому и продает GS не спеша, за цену выше среднего — $16 500 в эквиваленте.
      p.product-about__text Ученые решили проверить подкованность искусственных интеллектов в образе голосовых помощников Apple и Google в вопросах о сексе. Им были заданы различные вопросы об интимной гигиене, а также иной тематики, так или иначе связанной с отношениями между полами и сексуальным здоровьем.