.tab-content__item.tab-video
  h3.g-block-title Schott Zwiesel - бокалы, которые хранят историю
  .product-video
    .video-item#review4(data-video-id="6EyHBf4E8ds")
      .video-img(style="background-image:url('static/img/content/products/product1/product4.jpg')")
        .video-start
          +icon('login')
