.sort
  .sort-common
    span.sort__title Сортировать по
    +sortVarLink('По цене')
    +sortVarLink('По популярности')
    +sortVarLink('По новизне')
  .sort-view__count
    span.sort__title Показывать по
    +sortVarLink('10 товаров')
    ul.sort-view__list
      li.sort-view__item.active(data-catalog-view="standart")
        +icon('nine-square')
      li.sort-view__item(data-catalog-view="2col")
        +icon('four-square')
      li.sort-view__item(data-catalog-view="lines")
        +icon('line')