@import "tabs/order"
@import "tabs/delivery"
@import "tabs/payment"
@import "tabs/guarantee"
@import "tabs/return"
@import "tabs/exchange"

.for-customer-tabs
  .tabs-list
    justify-content center

.for-customer-text
  line-height 1.3
  margin-bottom 20px

  &:last-child
    margin-bottom 0


