.tab-content__item.tab-delivery
  .page-banner.page-banner--for-customer.page-banner--delivery
    .container
      .page-banner__content.page-banner__content--delivery
        h2.g-section-title Доставка
        p.page-banner__text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus suscipit officia, corporis neque facilis voluptate deleniti odio! In sapiente, quidem dolorem magni maxime, necessitatibus repellat dicta sit porro consequuntur laboriosam!