mixin tabsLink(dataShow,text)
  li.tabs-list__item(show-tab= dataShow)&attributes(attributes)
    span.tabs-list__text= text


section.product-tabs
  .container
    .tabs
      ul.tabs-list
        +tabsLink('tab-characteristics', 'Характеристики')(class="active")
        +tabsLink('tab-about', 'О бренде')
        +tabsLink('tab-reviews', 'Отзывы')
        +tabsLink('tab-faq', 'Вопрос-ответ')
        +tabsLink('tab-video', 'Видео')
        +tabsLink('tab-articles', 'Статьи')

      .tabs-content
        include tabs/characteristics
        include tabs/about
        include tabs/reviews
        include tabs/faq
        include tabs/video
        include tabs/articles
