section.product
  .container
    .product-content
      .product-gallery
        .product-gallery-main
          .product-gallery__nav
            .product-gallery__controls.product-gallery__controls--prev
              +icon('arrow-down')
            .product-gallery__controls.product-gallery__controls--next
              +icon('arrow-up')

          .js-product-gallery
            .product-gallery__item
              img(src="static/img/content/products/product1/product1.jpg")
            .product-gallery__item
              img(src="static/img/content/products/product1/product1.jpg")
            .product-gallery__item
              img(src="static/img/content/products/product1/product1.jpg")

        .product-gallery-nav
          .js-product-gallery-nav
            .product-gallery__item
              img(src="static/img/content/products/product1/product-prev1.jpg")
            .product-gallery__item
              img(src="static/img/content/products/product1/product-prev2.jpg")
            .product-gallery__item
              img(src="static/img/content/products/product1/product-prev3.jpg")

      .product-info
        h2.g-section-title.g-section-title--product Набор бокалов для красного вина, серия Frau, SCOTTZWIESEL
        .product-fast-info
          .product-specification
            +productLineInfo('Артикул:','111-058-2')
            +productLineInfo('Торговая марка:','SCOTT ZWIESEL (Германия)')
            +productLineInfo('Серия:','Серия Frau')
            ul.product-specification-list
              +productSpecificationIcon('equal')
              +productSpecificationIcon('favourite')
              +productSpecificationIcon('basket')
              +productSpecificationIcon('register')
              +productSpecificationIcon('pan')
              +productSpecificationIcon('resize')
              +productSpecificationIcon('login')
              +productSpecificationIcon('location')
          .product-callback
            +icon('location')
            a.product-callback__phone(href="tel:8800150150") 8 800 150-150
            a.product-callback__link(href="javascript:void(0);") Обратный звонок
            span.product-callback__text Позвоните и наши консультанты свяжутся с вами

        .product-price-info
          span.product-price 635 &#8381;
          .product-availability
            +icon('favourite')
            span Нет в наличии
          .product-feedback
            +icon('basket')
            a(href="javascript:void(0);") Обратная связь

        .product-buttons
          a.g-btn.g-btn--black(href="javascript:void(0);") Добавить в корзину
          a.g-btn.g-btn--border-black(href="javascript:void(0);") Купить в 1 клик

        .product-actions
          .product-action.product-action__favourite
            +icon('equal')
            a(href="javascript:void(0);") В избранное
          .product-action.product-action__compare
            +icon('register')
            a(href="javascript:void(0);") Сравнить
          .product-action.product-action__share
            +icon('resize')
            a(href="javascript:void(0);") Сравнить

        .product-line
          .product-delivery
            .product-title-icon
              +icon('payment')
              span Доставка
            .product-delivery__info
              span Доставка возможна по Москве
              span.product-delivery__date 11.11.2016
            .product-delivery__city
              span Ваш город
            ul.product-delivery-variants
              li.product-delivery-variants__item
                span.product-delivery-variants__key EMS Почта России
                span.product-delivery-variants__var (500 a, 4-5 дней)

          .product-guarantee
            .product-title-icon
              +icon('location')
              span Гарантия
            span.product-guarantee__text На этот товар в нашем магазине предоставляется гарантия сроком 1 год