.tab-content__item.tab-delivery
  p.for-customer-text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus est quidem aperiam, soluta quisquam officia hic magnam distinctio voluptates excepturi veniam eum consequuntur commodi sit corrupti harum! Eius, quam assumenda.
