.tab-content__item.tab-exchange
  p.for-customer-text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus est quidem aperiam, soluta quisquam officia hic magnam distinctio voluptates excepturi veniam eum consequuntur commodi sit corrupti harum! Eius, quam assumenda.
  p.for-customer-text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, aliquam modi impedit.
  p.for-customer-text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique ad dolorem pariatur vel numquam maxime modi distinctio itaque cupiditate dolorum rem, fugit eius eveniet, cumque, veritatis ipsam, totam a enim.
