.tab-content__item.tab-order
  p.for-customer-text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, aliquam modi impedit.
  p.for-customer-text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique ad dolorem pariatur vel numquam maxime modi distinctio itaque cupiditate dolorum rem, fugit eius eveniet, cumque, veritatis ipsam, totam a enim.
  p.for-customer-text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum voluptate unde enim officia laboriosam alias veritatis qui soluta, perspiciatis explicabo voluptatem tempora fugiat omnis velit, sint ipsum ipsa fuga sequi ex, rem dignissimos fugit necessitatibus ad maxime dolore. Totam perspiciatis qui tenetur, iusto sit provident facere nobis aliquid. Laborum, deleniti!