.tab-content__item.tab-order
  .how-order__block
    h3.g-block-title Добавьте товар в корзину
    p.for-customer-text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, aliquam modi impedit. Laborum voluptate unde enim officia laboriosam alias veritatis qui soluta, perspiciatis explicabo voluptatem tempora fugiat omnis velit, sint ipsum ipsa fuga sequi ex, rem dignissimos fugit necessitatibus ad maxime dolore.
  .how-order__block
    h3.g-block-title Закажите "Обратный зонок"
    p.for-customer-text  Lorem ipsum dolor sit amet, consectetu velit, sint ipsum ipsa fuga sequi ex, rem dignissimos fugit necessitatibus ad
    form.how-order__form
      .g-form-block
        label.g-label Ваше имя
          input.g-input(type="text")
      .g-form-block
        label.g-label Телефон
          input.g-input(type="tel")
      .g-form-block
        input.g-btn.g-btn--no-underline.g-btn--black(type="submit" value="Подписаться")

  .how-order__block.how-order__block--phone
    h3.g-block-title Позвоните по телефону
    p.for-customer-text  Lorem ipsum dolor sit amet, consectetu:
      a.for-customer-text__link(href="tel:8-850-666-225")  8-850-666-225